# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Tuseef Mohammed\IdeaProjects\DeliveryConfiguration_Tuseef\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


*.iml
*.idea


